PORT=3000
FRONTEND_APP_URL=http://localhost:19006

OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4.1-mini

SPOTIFY_CLIENT_ID=e341c523113d4cb89fae85873a85dabc
SPOTIFY_CLIENT_SECRET=6ca7ef59cb164de98ae4daa46406734b
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/auth/spotify/callback

SUPABASE_URL=https://uvdmjgbciculiswgoyiu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2ZG1qZ2JjaWN1bGlzd2dveWl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MDk2ODMsImV4cCI6MjA4ODA4NTY4M30.nGvaMzkEKFeOQNTbKXDO47QBxYG1zyN9Lob6FF5YNKM

JWT_SECRET=dev_only_change_me
