PORT=3000
FRONTEND_APP_URL=http://localhost:19006

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:3000/auth/spotify/callback

SUPABASE_URL=
SUPABASE_ANON_KEY=

JWT_SECRET=dev_only_change_me
