EXPO_PUBLIC_BACKEND_URL=http://127.0.0.1:3000
EXPO_PUBLIC_SUPABASE_URL=https://uvdmjgbciculiswgoyiu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2ZG1qZ2JjaWN1bGlzd2dveWl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI1MDk2ODMsImV4cCI6MjA4ODA4NTY4M30.nGvaMzkEKFeOQNTbKXDO47QBxYG1zyN9Lob6FF5YNKM

